body{color:#ffffff!important;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{color:#fafafa!important;}

.navigation__menu ul>li.navigation__active>a, .navigation__menu ul>li.active>a {
    color: #edeff0;
    font-weight: 700;
}
.navigation__menu ul>li.active>a:hover{
    color: #edeff0;
    background:transparent;
}
.nav > li > a{padding: 0;}
.nav > li > a:hover{background: transparent;}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.btn-search{padding-top:18px;}
.btn-search .btn{line-height:20px;font-size:18px;padding:15px 25px;}
.top-search__reset{top:17px!important;}
.top-search__input{ background-color: #ffffff!important;}
#header{padding:20px 45px!important;margin-bottom:0px!important;}
.dropdown-menu{background-color: #2b3942!important;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent!important;
    border-color: none;
}
.dropdown-menu.pull-right {
    right: auto!important;
    left: auto;
    width: 100%;
    top: auto!important;
}
.form-group{position:none!important;}
.card{padding:20px 25px!important;}
.panel-collapse .panel-title > a{display:inline-block!important;}
.panel-collapse .panel-heading.active:before, .panel-collapse .panel-heading:before, .panel-collapse .panel-heading.active:after, .panel-collapse .panel-heading:after{cursor: pointer;z-index: 1;}
.panel-body{margin-bottom: 15px;}
.icon{padding:20px 5px!important;}
.card__header, .card__body {padding: 30px 0px!important;}
.black{color:#FFFFFF;}
.black:hover{color:#000000;}
